@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  font-family: 'Rubik', sans-serif;
  margin:0;
}

body {
  padding: 20px;
  background: 
    linear-gradient(to right, lightgray 1px, transparent 1px),
    linear-gradient(to bottom, lightgray 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: center;
}

main {

}

h1 {
  font-size: 6rem;
  text-align: center;
  color:rgb(134, 54, 247);
  text-shadow: 5px 5px black;
}


section {
  max-width: 900px;
  padding: 20px;
  border-radius: 4px 4px 5px 5px;
  border: 2.5px solid black;
  background-color: rgb(134, 54, 247);
  margin: 0 auto 50px auto;
  position: relative;
  top: 0;
  color: white;
  box-shadow: 10px 10px black;
}



ul {
  max-width: 900px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em auto 3em auto;
  padding: 0;
}

.navbutton {
  padding: 7px;
  border-radius: 4px 4px 5px 5px;
  border-top:none;
  border: 2.5px solid black;  
  background-color: rgb(134, 54, 247);
  color: white;
  box-shadow: 5px 5px black;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.navbutton:hover {
  transform: translate(5px, 5px) scale(.98);
  box-shadow: 0 0 black;
}

a {
  text-decoration: none;
  color:white;
}

h2 {
  font-size: 6rem;
  text-shadow:4px 4px black;
  padding-right: 10px;
  min-width: 392px;
}

h3 {
  margin-top: 15px;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

/* general- header - intro */

.description {
  max-width: 410px;
  margin-left: 10px;
  margin-top: 5px;
}

.sectiontopdiv {
 display: flex;
 justify-content: left;
 margin: 80px auto 40px auto;
 max-width: 900px;

}

.sectiontopdiv h2 {
  color:rgb(134, 54, 247);
}

p {
  margin: 0;
  font-size: 1.1rem;
}

.after-intro-text {
  max-width: 600px;
  text-align: center;
  border: 2.5px solid black;
  padding: 20px;
  border-radius: 4px 5px;
  background-color: white;
}

#dropdownintro {
  text-align: left;
  max-width: 750px;
}

.outline-text {
  max-width: 610px;
  border: 2.5px solid black;
  padding: 2px;
  margin: 0 auto 50px auto;
  border-radius: 4px 5px;
}

#dropdownoutline {
  max-width: 750px;
  margin-bottom: 0px;
}

.drop {
  display: none; 
  margin:  0 15px 15px 15px;
  /* change display to none toggle on click */
}

.downarrow {
  rotate: 90deg;
  width: 60px;
}

.dropheading {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  display: block;
}

.examplediv {
  background-color: white;
  border-radius: 4px 5px;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto 50px auto;
  /* perhaps change box-shadow based on section */
  box-shadow: inset #e3defc 0 0 0 5px, 
  inset #b89aff 0 0 0 1px, 
  inset #d1b1ff 0 0 0 10px, 
  inset #C149D6 0 0 0 16px, 
  inset #610CD8 0 0 0 21px;
  /* add some kind of show inside to 
  look like its going inside of the page */
}

.exampledivcontent {
  margin:10px;
}

.exampledivcontent h4 {
  display: inline;
}

.dividersvg {
  width:60px;
}
.dividerdiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* cycle 1 content */


/* cycle 2 content */
.creativevisual {
  width:360px;
  border-radius: 20px;
  border: 2px solid black;
  /* box-shadow: 5px 5px black; */
}

.imgtxtdiv {
  max-width: 850px;
  margin: 20px auto 60px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.after-text {
  text-align: center;
  border: 2.5px solid black;
  padding: 20px;
  border-radius: 4px 5px;
  background-color: white;
}

.outline-text2 {
  max-width: 300px;
  border: 2.5px solid black;
  padding: 2px;
  border-radius: 4px 5px;
  margin:0 10px 20px 10px;
}

/* cycle 3 content */

.spiralsvg {
 width: 80px;
}
.spiraldiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

figcaption {
  max-width: 340px;
  text-align: center;
  font-size: .8rem;
}

#george {
  color: black;
}

iframe {
  width: 900px;
  height: 800px;
  border-radius: 4px 4px 5px 5px;
  border: 2.5px solid black;
  box-shadow: 10px 10px black;
}

.iframediv {
  display: flex;
  justify-content: center;
}

.resourcep {
  margin-top: 15px;
}

.resourcea {
  color:rgb(134, 54, 247);
}



@media (max-width: 850px) {
  #resources {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .description p {
    font-size: 90%;
  }
}

@media (max-width: 620px) {
  .description p {
    font-size: 80%;
  }
  #resourceh2 {
    font-size: 5.4rem;
  }

}

@media (max-width: 550px) {
  .sectiontopdiv {
    flex-wrap: wrap;
    justify-content: left;
    margin: 10px 10px 20px 10px;
  }
  .description {
    max-width: 390px;
  }

  h2 {
    font-size: 5rem;
  }
  #resourceh2 {
    font-size: 4.6rem;
  }
}

@media (max-width: 475px) {
  #resourceh2 {
    font-size: 3.8rem;
  }

}

@media (max-width: 400px) {
  h2 {
    font-size: 4rem;
  }
  .description p {
    font-size: 70%;
  }
  .description h3 {
    font-size: 1.2rem;
  }
  #resourceh2 {
    font-size: 3.2rem;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 3.5rem;
}
#resourceh2 {
  font-size: 2.7rem;
}
}