@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  font-family: 'Rubik', sans-serif;
  margin:0;
}

body {
  padding: 20px;
  background: 
    linear-gradient(to right, lightgray 1px, transparent 1px),
    linear-gradient(to bottom, lightgray 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: center;
}

main {

}

h1 {
  font-size: 6rem;
  text-align: center;
  color:rgb(136, 74, 252);
  text-shadow: 5px 5px black;
}


section {
  max-width: 900px;
  padding: 20px;
  border-radius: 4px 4px 5px 5px;
  border: 2.5px solid black;
  background-color: rgb(134, 54, 247);
  margin: 0 auto 50px auto;
  position: relative;
  top: 0;
  color: white;
  box-shadow: 10px 10px black;
}



ul {
  max-width: 900px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em auto 3em auto;
  padding: 0;
}

li {
  padding: 7px;
  border-radius: 4px 4px 5px 5px;
  border-top:none;
  border: 2.5px solid black;  
  background-color: rgb(136, 74, 252);
  color: white;
  box-shadow: 5px 5px black;
  cursor: pointer;
  transition: .3s ease-in-out;
}

li:hover {
  transform: translate(5px, 5px) scale(.98);
  box-shadow: 0 0 black;
}

h2 {
  font-size: 6rem;
  text-shadow:4px 4px black;
  padding-right: 10px;
  min-width: 380px;
}

h3 {
  margin-top: 15px;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

/* general- header - intro */

.description {
  max-width: 410px;
  margin-left: 10px;
  margin-top: 5px;
}

.sectiontopdiv {
 display: flex;
 justify-content: left;
 margin: 80px auto 40px auto;
 max-width: 900px;

}

.sectiontopdiv h2 {
  color: blueviolet;
}

p {
  margin: 0;
  font-size: 1.1rem;
}

.after-intro-text {
  max-width: 600px;
  text-align: center;
  border: 2.5px solid black;
  padding: 20px;
  border-radius: 4px 5px;
  background-color: white;
}

.outline-text {
  max-width: 610px;
  border: 2.5px solid black;
  padding: 2px;
  margin: 0 auto 50px auto;
  border-radius: 4px 5px;
}

.drop {
  display: none; 
  margin: 5px 0px;
  /* change display to none toggle on click */
}

.btn {
  font-size: 1.2rem;
  background-color: blueviolet;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  display: inline;
  cursor: pointer;
}

.active {
  display: block;
}

.examplediv {
  background-color: white;
  border-radius: 4px 5px;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto 50px auto;
  /* add some kind of show inside to 
  look like its going inside of the page */
}

.exampledivcontent {
  margin:10px;
}

.exampledivcontent h4 {
  display: inline;
}

/* cycle 1 content */

.cycle1 {
  background-color: purple;
}


/* cycle 2 content */
.creativevisual {
  width:360px;
  border-radius: 20px;
  box-shadow: 5px 5px black;
}




@media (max-width: 700px) {
  .description p {
    font-size: 90%;
  }
}

@media (max-width: 620px) {
  .description p {
    font-size: 80%;
  }
}

@media (max-width: 550px) {
  .sectiontopdiv {
    flex-wrap: wrap;
    justify-content: left;
    margin: 20px;
  }
  .description {
    max-width: 390px;
  }

  h2 {
    font-size: 5rem;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 4rem;
  }
  .description p {
    font-size: 70%;
  }
  .description h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 3.5rem;
}
}