@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  font-family: 'Rubik', sans-serif;
  margin:0;
}

body {
  padding: 20px;
  background-color: #EEF0F4;
}

main {

}

h1 {
  text-align: center;
}

section {
  max-width: 900px;
  padding: 20px;
  border-radius: 4px 4px 5px 5px;
  border-top:none;
  outline:2.5px solid black;  
  background-color: blueviolet;
  margin: 0 auto 50px auto;
  position: relative;
  top: 0;
  color: white;
  box-shadow: 10px 10px black;
}


ul {
  max-width: 900px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em auto;
  padding: 0;
}

li {
  padding: 7px;
  border-radius: 4px 4px 5px 5px;
  border-top:none;
  outline:2.5px solid black;  
  background-color: blueviolet;
  color: white;
  box-shadow: 5px 5px black;
  cursor: pointer;
  transition: .3s ease-in-out;
}

li:hover {
  transform: translate(5px, 5px) scale(.98);
  box-shadow: 0 0 black;
}

h2 {
  font-size: ;
}

h3 {
  float: right;
}


p {
  margin: 0;
}