@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

:root {
  --darkg: #37373d;
  --darkmodecolor: #ece0fe;
  --darkmodeshadow: blueviolet;
  --darkmodeshadow2: rgb(117, 0, 180);
}

* {
  font-family: 'Rubik', sans-serif;
  margin:0;
}

body {
  padding: 20px;
  background: 
    linear-gradient(to right, lightgray 1px, transparent 1px),
    linear-gradient(to bottom, lightgray 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: center;
  transition: .2s ease-in-out;
}
/* scroll down button to top */
.roundbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(134, 54, 247);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: 2.5px solid black; 
  box-shadow: 1.5px 1.5px black;
  transition: .3s ease-in-out;
}

#darktoggle {
  position:absolute;
  top: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:7px;
}

#totop {
  bottom: 20px;
  right: 30px;
  display: none;
}

.roundbtn:hover {
  transform: translate(1.5px, 1.5px) scale(.98);
  box-shadow: 0 0 black;
}

.toggleimg {
  width: 35px;
}

.moonimg {
  display: none;
}

/* DARK MODE */
body.dark {
  background: 
    linear-gradient(to right, rgba(255, 255, 255, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 1px, transparent 1px),
    rgb(0, 0, 0);
  background-size: 20px 20px;
}

body.dark h1 {
  color:var(--darkmodecolor);
  text-shadow: 5px 5px var(--darkmodeshadow);
}

body.dark .moonimg {
  display: block;
}

body.dark .sunimg {
  display: none;
}

body.dark .navbutton {
  border: 2.5px solid var(--darkmodeshadow);
  background-color: var(--darkmodecolor);
  box-shadow: 5px 5px var(--darkmodeshadow);
  color: rgb(0, 0, 0);
}

body.dark .roundbtn {
  background-color: var(--darkmodecolor);
  border: 2.5px solid var(--darkmodeshadow); 
  box-shadow: 1.5px 1.5px var(--darkmodeshadow);
}

body.dark .roundbtn:hover {
  transform: translate(1.5px, 1.5px) scale(.98);
  box-shadow: 0 0 var(--darkmodeshadow);
}

body.dark .navbutton a {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

body.dark .navbutton:hover {
  transform: translate(5px, 5px) scale(.98);
  box-shadow: 0 0 var(--darkmodeshadow);
}

body.dark section {
  border: 2.5px solid var(--darkmodeshadow);
  background-color: var(--darkmodecolor);
  box-shadow: 10px 10px var(--darkmodeshadow);
  color: black;
  font-weight: 600;
}

body.dark h2 {
  color: var(--darkmodecolor);
  text-shadow:4px 4px var(--darkmodeshadow);
}

body.dark .after-intro-text {
  color: white;
  background-color: black;
  border: 2.5px solid var(--darkmodecolor);
}

body.dark .outline-text {
  border: 2.5px solid var(--darkmodeshadow);
}

body.dark .after-text {
  background-color: black;
  border: 2.5px solid var(--darkmodecolor);
  color: white;
}

body.dark .creativevisual {
  border: none;
}

body.dark .outline-text2 {
  border: 2.5px solid var(--darkmodeshadow);
}

body.dark .imgtxtdiv {
  color: white;
}

body.dark #george {
  color: white;
}

body.dark .description p {
  color: white;
}

body.dark .description a {
  color:var(--darkmodecolor);
}

body.dark footer {
  color: white;
}

body.dark iframe {
  border: none;
  border: 2.5px solid var(--darkmodeshadow);
  box-shadow: 10px 10px blueviolet;
}

body.dark h3 {
  color:white;
}

body.dark .javascripttext {
  background-color: white;
  color: black;
  border: 2.5px solid black;
}

body.dark .jsoutline {
  border: 2.5px solid black;
}

body.dark .fa-brands {
  color: white;
}

body.dark .fa-chevron-up {
 color:black;
}

body.dark #lightgif {
  display:none;
}

body.dark #darkgif {
  display:block;
}


/* DARK MODE END */

.animation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cyclegif {
  max-width: 480px;
  margin:10px;
  border-radius: 20px;
  margin-top: 50px;
}

#darkgif {
  display: none;
  border: 3px solid var(--darkmodeshadow);
  box-shadow: 5px 5px var(--darkmodeshadow);
}

#lightgif {
  border: 3px solid black;
  box-shadow: 5px 5px black;
}


h1 {
  font-size: 6rem;
  text-align: center;
  color:rgb(134, 54, 247);
  text-shadow: 5px 5px black;
}


section {
  max-width: 900px;
  padding: 20px;
  border-radius: 4px 4px 5px 5px;
  border: 2.5px solid black;
  background-color: rgb(134, 54, 247);
  margin: 0 auto 50px auto;
  position: relative;
  top: 0;
  color: white;
  box-shadow: 10px 10px black;
}



ul {
  max-width: 900px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em auto 3em auto;
  padding: 0;
}

.navbutton {
  padding: 7px;
  border-radius: 4px 4px 5px 5px;
  border-top:none;
  border: 2.5px solid black;  
  background-color: rgb(134, 54, 247);
  color: white;
  box-shadow: 5px 5px black;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.navbutton:hover {
  transform: translate(5px, 5px) scale(.98);
  box-shadow: 0 0 black;
}

a {
  text-decoration: none;
  color:white;
}

h2 {
  font-size: 6rem;
  text-shadow:4px 4px black;
  padding-right: 10px;
  min-width: 392px;
}

h3 {
  margin-top: 15px;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

/* general- header - intro */

.description {
  max-width: 410px;
  margin-left: 10px;
  margin-top: 5px;
}

.sectiontopdiv {
 display: flex;
 justify-content: left;
 margin: 80px auto 40px auto;
 max-width: 900px;

}

.sectiontopdiv h2 {
  color:rgb(134, 54, 247);
}

p {
  margin: 0;
  font-size: 1.1rem;
}

.after-intro-text {
  max-width: 600px;
  text-align: center;
  border: 2.5px solid black;
  padding: 20px;
  border-radius: 4px 5px;
  background-color: white;
}

#dropdownintro {
  text-align: left;
  max-width: 750px;
}

.outline-text {
  max-width: 610px;
  border: 2.5px solid black;
  padding: 2px;
  margin: 0 auto 50px auto;
  border-radius: 4px 5px;
}

#dropdownoutline {
  max-width: 750px;
  margin-bottom: 0px;
}

.drop {
  display: none; 
  margin:  0 15px 15px 15px;
  /* change display to none toggle on click */
}

.downarrow {
  rotate: 90deg;
  width: 60px;
}

.dropheading {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  display: block;
}

.examplediv {
  background-color: white;
  border-radius: 4px 5px;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto 50px auto;
  /* perhaps change box-shadow based on section */
  box-shadow: inset #e3defc 0 0 0 5px, 
  inset #b89aff 0 0 0 1px, 
  inset #d1b1ff 0 0 0 10px, 
  inset #C149D6 0 0 0 16px, 
  inset #610CD8 0 0 0 21px;
  /* add some kind of show inside to 
  look like its going inside of the page */
}

.exampledivcontent {
  margin:10px;
}

.exampledivcontent h4 {
  display: inline;
}

.dividersvg {
  width:60px;
}
.dividerdiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* cycle 1 content */


/* cycle 2 content */
.creativevisual {
  width:360px;
  border-radius: 20px;
  border: 2px solid black;
  /* box-shadow: 5px 5px black; */
}

.imgtxtdiv {
  max-width: 850px;
  margin: 20px auto 60px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.after-text {
  text-align: center;
  border: 2.5px solid black;
  padding: 20px;
  border-radius: 4px 5px;
  background-color: white;
}

.outline-text2 {
  max-width: 300px;
  border: 2.5px solid black;
  padding: 2px;
  border-radius: 4px 5px;
  margin:0 10px 20px 10px;
}

/* cycle 3 content */

.spiralsvg {
 width: 80px;
}
.spiraldiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

figcaption {
  max-width: 340px;
  text-align: center;
  font-size: .8rem;
}

#george {
  color: black;
}

iframe {
  width: 900px;
  height: 800px;
  border-radius: 4px 4px 5px 5px;
  border: 2.5px solid black;
  box-shadow: 10px 10px black;
}

.iframediv {
  display: flex;
  justify-content: center;
}

.resourcep {
  margin-top: 15px;
}

.resourcea {
  color:rgb(134, 54, 247);
}

.fa-brands {
  color: black;
  padding: 3px;
}

#icon-div {
  margin-bottom: 15px;
}

footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
 h1 {
  max-width: 700px;
  margin:auto;
 }
}

@media (max-width: 850px) {
  #resources {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .description p {
    font-size: 90%;
  }
}

@media (max-width: 620px) {
  .description p {
    font-size: 80%;
  }
  #resourceh2 {
    font-size: 5.4rem;
  }
  
.cyclegif {
  width: 80%;
}
}

@media (max-width: 580px) {
  #darktoggle {
    display: none;
  }

  .ptext {
    font-size: 1rem;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .creativevisual {
    margin: 10px;
    width:80%;
  }
  figcaption {
    max-width:80%;
  }
}

@media (max-width: 550px) {
  .sectiontopdiv {
    flex-wrap: wrap;
    justify-content: left;
    margin: 10px 10px 20px 10px;
  }
  .description {
    max-width: 390px;
  }
  h2 {
    font-size: 5rem;
  }
  #resourceh2 {
    font-size: 4.6rem;
  }

  .navbutton {
    font-size: 90%;
  }

  .intronavbtn {
    display: none;
  }
  .exampledivcontent h4 {
    text-align: center;
  }
  .cyclegif {
    margin: 20px 0 30px 0;
  }
}

@media (max-width: 475px) {
  #resourceh2 {
    font-size: 3.8rem;
  }

}

@media (max-width: 440px) {
  h1 {
    font-size: 5rem;
  }
  
  .resourcesnavbtn {
    display: none;
  }

  .exampledivcontent h4 {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 4rem;
  }
  .description p {
    font-size: 70%;
  }
  .description h3 {
    font-size: 1.2rem;
  }
  #resourceh2 {
    font-size: 3.2rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  .downarrow {
    width: 40px;
  }
}

@media (max-width: 310px) {
 h2 {
    font-size: 3.5rem;
}
#resourceh2 {
  font-size: 2.7rem;
} 
}
